@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Inconsolata:wght@300&display=swap');

main{
  max-width: 1600px;
  margin: 0 auto;
}

img{
  width: 100%
}

header{
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  margin-top: 25px;
}

#header-box{
  grid-column: 1/5;
  grid-row: 2/3;
  background-color: #F3E5CE;
}

#logo-link{
  grid-column: 1/2;
  grid-row: 1/4;
  justify-self: center;
}

.logo{
  width: 200px;
  box-sizing: border-box;
  border: #F3E5CE solid 5px;
}

nav{
  grid-column: 2/5;
  grid-row: 2/3;
  display: flex;
  align-content: center;
}

nav a{
  font-family: "Alegreya Sans", arial, sans-serif;
  font-size: 2em;
  width: 30%;
  margin: auto;
  color: black;
  text-decoration: none;
  text-align: center;
}

nav a:hover{
  background-color: #C3CDD5;
}

footer{
  background-color: #F3E5CE;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;}

footer a{
  text-decoration: none;
  color: black;
}

footer a:hover{
  background-color: #C3CDD5;
}

footer img{
  width: 50px;
}

.copyright{
  text-align: center;
  font-family: Inconsolata, courier, monospace;
}

body{
  background-color:  #F7F5F3;
  max-width: 1600px;
  margin: 0 auto;
}

#home-grid{
  display: grid;
  grid-template-columns: 5% repeat(6, 1fr) 5%;
  grid-template-rows: 50px 3fr 50px 50px 1fr 1fr 75px 1fr 1fr 75px;
  margin: 75px 50px;
  text-align: center;
}

#home-grid h1{
  font-family: "Alegreya Sans", arial, sans-serif;
  font-size: 2em;
}

#home-grid p{
  font-family: Inconsolata, courier, monospace;
  font-size: 1.5em;
}

#purpose-box{
    grid-column: 1/9;
    grid-row: 1/4;
    border: #C3CDD5;
    border-style: solid;
    border-width: 5px;
    justify-content: center;
}

.purpose-msg{
    grid-column: 1/6;
    grid-row: 2/3;
    margin: auto 100px auto 50px
}

#purpose-gallery{
    grid-column: 6/9;
    grid-row: 2/3;
    align-self: center;
    margin: 20px 20px 10px -50px;
    border: #F3E5CE;
    border-width: 20px 20px 50px;
    border-style: solid;
    background-color: #F3E5CE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-msg{
    grid-column: 2/5;
    grid-row: 5/8;
    background-color: #F3E5CE;
    padding: 10px 50px;
    border: solid #C3CDD5;
    border-width: 5px;
}

.why-msg{
    grid-column: 4/8;
    grid-row: 7/10;
    z-index: -1;
    background-color: #C3CDD5;
    padding: 10px 50px;
    border:solid #F3E5CE;
    border-width: 5px;
}

#slideshow{
    position: relative;
    margin: auto;
}

.purpose-img{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .caption {
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .slide-tracker{
    padding-top: 4px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  /*packages pg styling begins here*/

  #pkg-banner-box{
    margin: 50px 75px
  }

  .pkg-banner{
    display: flex;
    justify-content: space-evenly;
    background-color: #C3CDD5;
  }

  .banner-msg{
    background-color: #F3E5CE;
    margin-bottom: 30px;
    text-align: center;
    border: #C3CDD5 solid 5px;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 100%;
    left: 50%;
  }

 #pkg-banner-box:hover .pkg-banner {
    opacity: 0.7;
  }
  
 #pkg-banner-box:hover .banner-msg {
    opacity: 1;
  }

  .banner-msg h1{
    font-family: "Alegreya Sans", arial, sans-serif;
  }

  .banner-msg h2{
    font-family: Inconsolata, courier, monospace;
  }

  .daisy-banner{
    width: 30%;
    padding: 20px 0px;
  }

  .rose-banner{
    width: 30%;
    padding: 20px 0px;
  }

  .laurel-banner{
    width: 30%;
    padding: 20px 0px;
  }
  
  #pkg-details{
    margin: 50px 75px 0px;
    background-color: #F3E5CE;
    border: #C3CDD5 solid 5px;
  }

  .daisy, .rose, .laurel{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 25px 1fr 25px;
    align-items: center;
    justify-items: center;
  }

  .detail-img{
    grid-row: 1/4;
    grid-column: 1/2;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: #C3CDD5 solid 5px;
    margin: 25px;
  }

  .detail-msg{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 50px;
  }

  .detail-msg h1{
    font-family:"Alegreya Sans", arial, sans-serif;
    font-size: 2em;
  }

  .detail-msg p{
    font-family: Inconsolata, courier, monospace;
    text-align: center;
    font-size: 1.5em;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  